<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/break-habits/show.css">
<%- include('../partials/nav') %>

<main>
  <div class="header">
    <h1 class="title"><%= title %></h1>
    <div class="dropdown-container">
      <div class="dropdown">
        <div class="dropdown-div">
          <img class="menu-icon" src="/images/hamburger-menu-blue.png" alt="menu-icon">
        </div>
        <div class="dropdown-content">
          <a href="/break-habits/<%= habit._id %>">
            <button class="hover-btn">Back</button>
          </a>
          <a href="/break-habits">
            <button class="hover-btn">Home Page</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="rewards-cue-container">
    <div class="cues-container">
      <div class="cues-btn">
        <h3>Cue Log</h3>
      </div>
      <div class="cues-body">
        <% habit.isolateCue.forEach(cueLog => { %>
          <div class="cues">
            <p><strong>Location:</strong> <%= cueLog.location %></p>
            <p><strong>Time:</strong> <%= cueLog.time %></p>
            <p><strong>Emotional State:</strong> <%= cueLog.emotionalState %></p>
            <p><strong>Who was around:</strong> <%= cueLog.otherPeople %></p>
            <p><strong>Preceeding Action:</strong> <%= cueLog.preceedingAction %></p>
          </div>
        <% }) %>
      </div>
    </div>
    <div class="rewards-container">
      <div class="rewards-btn">
        <h3>Possible Rewards log</h3>
      </div>
      <div class="rewards-body">
        <% habit.possibleRewards.forEach(possibleReward => { %>
          <div class="rewards">
            <p><strong>Reward:</strong>
              <%= possibleReward.reward %>
            </p>
            <p><strong>Notes:</strong>
              <%= possibleReward.notes %>  
            </p>
          </div>
        <% }) %>
      </div>
    </div>
  </div>
</main>

<%- include('../partials/footer') %>