<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/break-habits/show.css">
<%- include('../partials/nav') %>

<main>
  <h1>Routine: <%= title %></h1>
  <p class="instructions">Now that you have identified the routine, its time to figure out what your cue is and track the possible rewards</p>
  <div class="rewards-cue-container">
    <div class="cues-container">
      <div class="cues-btn">
        <a href="/break-habits/<%= habit._id %>/isolate-cue/new">
          <button>Isolate the cue</button>
        </a>
      </div>
      <div class="cues-body">
        <% habit.isolateCue.forEach(cueLog => { %>
          <div class="cues">
            <p>Location: <%= cueLog.location %></p>
            <p>time: <%= cueLog.time %></p>
            <p>emotional state: <%= cueLog.emotionalState %></p>
            <p>Were there people around: <%= cueLog.otherPeople %></p>
            <p>What happened prior to the urge: <%= cueLog.preceedingAction %></p>
          </div>
        <% }) %>
      </div>
      <div class="submit-cue">
        <% if (habit.isolateCue.length>1 && !habit.cue) { %>
          <form action="/break-habits/<%= habit._id %>?_method=PATCH" method="POST">
            <input type="text" placeholder="cue" name="cue">
            <button>Submit my Cue!</button>
          </form>
        <% } %>
      </div>
    </div>
    <div class="rewards-container">
      <div class="rewards-btn">
        <a href="/break-habits/<%= habit._id %>/possible-rewards/new">
          <button>Track possible rewards</button>
        </a>
      </div>
      <div class="rewards-body">
        <% habit.possibleRewards.forEach(possibleReward => { %>
          <div class="rewards">
            <p>Reward:
              <%= possibleReward.reward %>
            </p>
            <p>Notes:
              <%= possibleReward.notes %>  
            </p>
          </div>
        <% }) %>
      </div>
      <div class="submit-reward">
        <% if (habit.possibleRewards.length>1 && !habit.reward) { %>
          <form action="/break-habits/<%= habit._id %>?_method=PATCH" method="POST">
            <input type="text" placeholder="reward" name="reward">
            <button>Submit my Reward!</button>
          </form>
        <% } %>
      </div>
    </div>
  </div>
  <div class="habit-loop">
    <% if (habit.cue || habit.reward) { %>
      <h2>Your habit loop</h2>
      <p>Cue: <%= habit.cue %> -> Routine: <%= habit.routine %> -> Reward: <%= habit.reward %></p>
    <% } %>
  </div>
</main>
<%- include('../partials/footer') %>