<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <p>Breaking a habit is a 4 step process. We have identified the routine as being <%= habit.routine %>, now we move on to step 2 and 3</p>
  <ol>
    <li><strong>Identify the routine:</strong> <%= habit.routine %></li>
    <li>Identify the reward <%= habit.reward %></li>
    <li>Identify the cue <%= habit.cue %></li>
    <li>Have an action plan</li>
  </ol>
  <a href="/break-habits/<%= habit._id %>/possible-rewards/new">
    <button>Track possible rewards</button>
  </a>
  <% habit.possibleRewards.forEach(possibleReward => { %>
    <p>
      <%= possibleReward.reward %>
    </p>
    <p>
      <%= possibleReward.notes %>  
    </p>
  <% }) %>
  <a href="/break-habits/<%= habit._id %>/isolate-cue/new">
    <button>Isolate the cue</button>
  </a>
</main>
<%- include('../partials/footer') %>