  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav>
    <div class="nav-links-container">
      <% if (user) { %>
        <a href="/goals" id="goals-link" class=<%= nav === 'goals' ? 'active-goal' : '' %>>Goals</a>
        <a href="/journals" id="journal-link" class=<%= nav === 'journals' ? 'active-journal' : '' %>>Journal</a>
        <a href="/break-habits" id="break-habit-link" class=<%= nav === 'break habit' ? 'active-habit' : '' %>>Break A Habit</a>
        <a href="/profiles" id="add-friend-link" class=<%= nav === 'profiles' ? 'active-profiles' : '' %>>Add Friends</a>
      <% } %>
    </div>
    <div class="google">
      <% if (user?.profile.avatar) { %>
        <div class="logo-container">
          <img src="/images/level-up-logo-white.png" alt="level-up-logo">
        </div>
        <img
          src="<%= user.profile.avatar %>"
          alt="<%= user.profile.name %> avatar"
          class="profile-avatar"
        />
      <% } %>
      <% if (user) { %>
        <a href="/auth/logout" class="right">
          <button type="submit" class="logout-btn">Logout</button>
        </a>
      <% } %>
    </div>
  </nav>
