<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/index.css">
<%- include('../partials/nav') %>

<main>
  <div class="container">
    <% profiles.forEach(profile => { %>
      <% if (userProfile.equals(profile._id)) { %>
      <% } else { %>
        <%if (userProfile.outgoingFriendRequests.includes(profile._id)) { %>
          <div class="profile-card">
            <img 
            src="<%= profile.avatar %>" 
            alt="<%= profile.name %>'s avatar"
            class="friend-img"
            >
            <h3><%= profile.name %></h3>
            <p>Pending</p>
          </div>
        <%} else if (userProfile.incomingFriendRequests.includes(profile._id)) { %>
          <div class="profile-card">
            <img 
            src="<%= profile.avatar %>" 
            alt="<%= profile.name %>'s avatar"
            class="friend-img"
            >
            <h3><%= profile.name %></h3>
            <p>sent you a friend request</p>
            <form action="/profiles/<%= profile._id %>/acceptFriend" method="POST">
              <button class="blue-btn" id="accept-btn">Accept</button>
            </form>
            <form action="/profiles/<%= profile._id %>/declineFriend" method="POST">
              <button class="blue-btn" id="decline-btn">Decline</button>
            </form>
          </div>
        <% } else if (userProfile.friends.includes(profile._id)) { %>
          <div class="profile-card" id="friends">
            <img 
            src="<%= profile.avatar %>" 
            alt="<%= profile.name %>'s avatar"
            class="friend-img"
            >
            <h3><%= profile.name %></h3>
            <p>You are friends</p>
            <a href="/profiles/<%= profile._id %>/show">
              <button>See Profile</button>
            </a>
          </div>
        <% } else { %>
          <form action="/profiles/<%= profile._id %>/requestFriend" method="POST">
            <div class="profile-card">
              <img 
              src="<%= profile.avatar %>" 
              alt="<%= profile.name %>'s avatar"
              class="friend-img"
              >
              <h3><%= profile.name %></h3>
              <button class="blue-btn">Send friend request</button>
            </div>
          </form>
        <% } %>
      <% } %>
    <% }) %>
  </div>
</main>

<%- include('../partials/footer') %>
