<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/goals/check-in.css">
<%- include('../partials/nav') %>

<main>
  <h2><%= goal.category %> goal:</h2>
  <h1><%= goal.title %></h1>
  <p>Deadline is on <%= goalDeadline%></p>
  <form action="/goals/<%= goal._id %>" method="POST">
    <input type="date" name="date" value="<%= todaysDate %>" required>
    <textarea name="notes" cols="30" rows="10" required></textarea>
    <button class="submit-btn">Submit check-In</button>
  </form>
</main>


<%- include('../partials/footer') %>
