<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<main>
  <h1><%= title %></h1>
  <table>
    <tr>
      <th>Category</th>
      <th>Title</th>
      <th>Deadline</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <% goals.forEach(goal => { %>
     <tr>
       <td><%= goal.category %></td>
       <td><%= goal.title %></td>
       <td><%= goal.deadline %></td>
       <td>
        <a href="/goals/<%= goal._id %>">
          <button>Details</button>
        </a>
        </td>
        <td>
          <button>Check-In</button>
        </td>
        <td>
          <form action="/goals/<%= goal._id %>/?_method=DELETE" method="POST">
            <button>X</button>
          </form>
        </td>
     </tr>
    <% }) %>
  </table>
  <a href="/goals/new">
    <button>Create new goal</button>
  </a>
</main>

<%- include('../partials/footer') %>
