<%- include('../partials/html-head') %>
<link rel="stylesheet" href="../stylesheets/goals/new.css">
<%- include('../partials/nav') %>


<main>
  <h1> <%= title %></h1>
  <form action="/goals" method="POST">
    <div class="container">
      <label>Category: 
        <select name="category">
          <option>Career</option>
          <option>Health</option>
          <option>Finance</option>
          <option>Relationships</option>
          <option>Spiritual</option>
          <option>Other</option>
        </select>
      </label>
      <label>Title: 
        <input type="text" name="title" autocomplete="off" required class="title-input">
      </label>
      <label>Deadline: 
        <input type="date" name="deadline" autocomplete="off" value="<%= todaysDate %>" required>
      </label>
      <label>Goal: 
        <textarea name="content" cols="40" rows="10" required></textarea>
      </label>
      <button>Create Goal</button>
    </div>
  </form>
</main>

<%- include('../partials/footer') %>
