<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div class="category-container">
    <h2><%= goal.category %></h2>
  </div>
  <h1><%= title %></h1>
  <p>Deadline is on <%= goal.deadline %></p>
  <p><%= goal.content %></p>
  <div class="btns">
    <a href="/goals/<%= goal._id %>/edit">
      <button>Edit Goal</button>
    </a>
    <a href="/goals/<%= goal._id %>/checkIn/new">
      <button>Check-In</button>
    </a>
  </div>
  <h2>Check-In</h2>
  <% goal.checkIns.forEach(checkIn => { %>
    <p>Date: <%= checkIn.date %></p>
    <p><%= checkIn.notes %></p>
  <% }) %>
</main>


<%- include('../partials/footer') %>
